In [1]:
import pandas as pd
test_df=pd.read_csv('test.csv')
train_df=pd.read_csv('train.csv')
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [2]:
test_df=pd.read_csv('test.csv')
train_df=pd.read_csv('train.csv')
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [3]:
df=pd.concat([train_df,test_df],ignore_index=True,sort=False)
df.shape

(10876, 5)

In [0]:
df=df.drop(columns=['keyword', 'location'])

In [5]:
df['text'] = df['text'].str.lower()
df.head()

   id                                               text  target
0   1  our deeds are the reason of this #earthquake m...     1.0
1   4             forest fire near la ronge sask. canada     1.0
2   5  all residents asked to 'shelter in place' are ...     1.0
3   6  13,000 people receive #wildfires evacuation or...     1.0
4   7  just got sent this photo from ruby #alaska as ...     1.0

In [0]:
import re
#!pip install nltk
import nltk
#!pip install spacy
import spacy
import string

In [7]:
text=df['text']
text.head()

0    our deeds are the reason of this #earthquake m...
1               forest fire near la ronge sask. canada
2    all residents asked to 'shelter in place' are ...
3    13,000 people receive #wildfires evacuation or...
4    just got sent this photo from ruby #alaska as ...
Name: text, dtype: object

In [0]:
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', string.punctuation))

text_clean = text.apply(lambda text: remove_punctuation(text))

In [9]:
df1=df.copy()
df1['text_clean']=text_clean
df1.head()

   id  ...                                         text_clean
0   1  ...  our deeds are the reason of this earthquake ma...
1   4  ...              forest fire near la ronge sask canada
2   5  ...  all residents asked to shelter in place are be...
3   6  ...  13000 people receive wildfires evacuation orde...
4   7  ...  just got sent this photo from ruby alaska as s...

[5 rows x 4 columns]

In [0]:
test_df1=df1[df1['target'].isnull()]
test_df1=test_df1.drop(columns=['target'])
test_df1.reset_index(drop=True,inplace=True)

In [11]:
train_df1=df1[df1['target'].notna()]
train_df1.head()

   id  ...                                         text_clean
0   1  ...  our deeds are the reason of this earthquake ma...
1   4  ...              forest fire near la ronge sask canada
2   5  ...  all residents asked to shelter in place are be...
3   6  ...  13000 people receive wildfires evacuation orde...
4   7  ...  just got sent this photo from ruby alaska as s...

[5 rows x 4 columns]

In [0]:
# Run this to ensure TensorFlow 2.x is used
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass

In [0]:
import tensorflow as tf

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [0]:
vocab_size = 10000
embedding_dim = 16
max_length = 100
trunc_type='post'
padding_type='post'
oov_tok = "<OOV>"

In [0]:
tokenizer = Tokenizer(num_words=vocab_size, oov_token=oov_tok)
tokenizer.fit_on_texts(train_df1['text_clean'])

word_index = tokenizer.word_index

training_sequences = tokenizer.texts_to_sequences(train_df1['text_clean'])
training_padded = pad_sequences(training_sequences, maxlen=max_length, padding=padding_type, truncating=trunc_type)

testing_sequences = tokenizer.texts_to_sequences(test_df1['text_clean'])
testing_padded = pad_sequences(testing_sequences, maxlen=max_length, padding=padding_type, truncating=trunc_type)

In [0]:
training_labels = train_df1['target']

In [0]:
# Need this block to get it to work with TensorFlow 2.x
import numpy as np
training_padded = np.array(training_padded)
training_labels = np.array(training_labels)
testing_padded = np.array(testing_padded)

In [0]:
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(vocab_size, embedding_dim, input_length=max_length),
    tf.keras.layers.GlobalAveragePooling1D(),
    tf.keras.layers.Dense(24, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 100, 16)           160000
_________________________________________________________________
global_average_pooling1d (Gl (None, 16)                0
_________________________________________________________________
dense (Dense)                (None, 24)                408
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 25
=================================================================
Total params: 160,433
Trainable params: 160,433
Non-trainable params: 0
_________________________________________________________________

In [20]:
num_epochs = 30
history = model.fit(training_padded, training_labels, epochs=num_epochs, validation_data=(training_padded, training_labels), verbose=2)

Epoch 1/30
238/238 - 1s - loss: 0.6823 - accuracy: 0.5703 - val_loss: 0.6747 - val_accuracy: 0.5703
Epoch 2/30
238/238 - 1s - loss: 0.6476 - accuracy: 0.6108 - val_loss: 0.5907 - val_accuracy: 0.7904
Epoch 3/30
238/238 - 1s - loss: 0.5217 - accuracy: 0.7896 - val_loss: 0.4519 - val_accuracy: 0.8363
Epoch 4/30
238/238 - 1s - loss: 0.4234 - accuracy: 0.8320 - val_loss: 0.3794 - val_accuracy: 0.8488
Epoch 5/30
238/238 - 1s - loss: 0.3677 - accuracy: 0.8554 - val_loss: 0.3421 - val_accuracy: 0.8692
Epoch 6/30
238/238 - 1s - loss: 0.3284 - accuracy: 0.8704 - val_loss: 0.2987 - val_accuracy: 0.8844
Epoch 7/30
238/238 - 1s - loss: 0.2974 - accuracy: 0.8844 - val_loss: 0.2725 - val_accuracy: 0.8912
Epoch 8/30
238/238 - 1s - loss: 0.2727 - accuracy: 0.8903 - val_loss: 0.2483 - val_accuracy: 0.9025
Epoch 9/30
238/238 - 1s - loss: 0.2491 - accuracy: 0.9067 - val_loss: 0.2454 - val_accuracy: 0.9094
Epoch 10/30
238/238 - 1s - loss: 0.2298 - accuracy: 0.9128 - val_loss: 0.2080 - val_accuracy: 0.9238
Epoch 11/30
238/238 - 1s - loss: 0.2118 - accuracy: 0.9199 - val_loss: 0.1940 - val_accuracy: 0.9239
Epoch 12/30
238/238 - 1s - loss: 0.1971 - accuracy: 0.9238 - val_loss: 0.1773 - val_accuracy: 0.9363
Epoch 13/30
238/238 - 1s - loss: 0.1824 - accuracy: 0.9291 - val_loss: 0.1639 - val_accuracy: 0.9426
Epoch 14/30
238/238 - 1s - loss: 0.1714 - accuracy: 0.9335 - val_loss: 0.1572 - val_accuracy: 0.9477
Epoch 15/30
238/238 - 1s - loss: 0.1631 - accuracy: 0.9364 - val_loss: 0.1425 - val_accuracy: 0.9482
Epoch 16/30
238/238 - 1s - loss: 0.1504 - accuracy: 0.9438 - val_loss: 0.1426 - val_accuracy: 0.9439
Epoch 17/30
238/238 - 1s - loss: 0.1412 - accuracy: 0.9475 - val_loss: 0.1239 - val_accuracy: 0.9569
Epoch 18/30
238/238 - 1s - loss: 0.1349 - accuracy: 0.9514 - val_loss: 0.1173 - val_accuracy: 0.9593
Epoch 19/30
238/238 - 1s - loss: 0.1233 - accuracy: 0.9539 - val_loss: 0.1186 - val_accuracy: 0.9556
Epoch 20/30
238/238 - 1s - loss: 0.1182 - accuracy: 0.9567 - val_loss: 0.1118 - val_accuracy: 0.9582
Epoch 21/30
238/238 - 1s - loss: 0.1131 - accuracy: 0.9580 - val_loss: 0.1043 - val_accuracy: 0.9644
Epoch 22/30
238/238 - 1s - loss: 0.1058 - accuracy: 0.9595 - val_loss: 0.0939 - val_accuracy: 0.9662
Epoch 23/30
238/238 - 1s - loss: 0.1006 - accuracy: 0.9640 - val_loss: 0.0882 - val_accuracy: 0.9701
Epoch 24/30
238/238 - 1s - loss: 0.0994 - accuracy: 0.9628 - val_loss: 0.0855 - val_accuracy: 0.9706
Epoch 25/30
238/238 - 1s - loss: 0.0945 - accuracy: 0.9645 - val_loss: 0.0811 - val_accuracy: 0.9715
Epoch 26/30
238/238 - 1s - loss: 0.0892 - accuracy: 0.9669 - val_loss: 0.0826 - val_accuracy: 0.9708
Epoch 27/30
238/238 - 1s - loss: 0.0867 - accuracy: 0.9687 - val_loss: 0.0736 - val_accuracy: 0.9750
Epoch 28/30
238/238 - 1s - loss: 0.0826 - accuracy: 0.9694 - val_loss: 0.0725 - val_accuracy: 0.9752
Epoch 29/30
238/238 - 1s - loss: 0.0795 - accuracy: 0.9702 - val_loss: 0.0702 - val_accuracy: 0.9749
Epoch 30/30
238/238 - 1s - loss: 0.0768 - accuracy: 0.9718 - val_loss: 0.0674 - val_accuracy: 0.9761

In [21]:
result=model.predict(testing_padded)
print(result)

[[0.7969774 ]
 [0.9443841 ]
 [0.99979985]
 ...
 [0.9987575 ]
 [0.9653015 ]
 [0.96824574]]

In [0]:
test_df1['target']=result

In [0]:
test_df1['target']=test_df1['target'].apply(lambda x:(0 if x < 0.75 else 1))

In [34]:
test_df1[test_df1['target']==1]

         id  ... target
0         0  ...      1
1         2  ...      1
2         3  ...      1
3         9  ...      1
4        11  ...      1
...     ...  ...    ...
3257  10858  ...      1
3259  10865  ...      1
3260  10868  ...      1
3261  10874  ...      1
3262  10875  ...      1

[1099 rows x 4 columns]

In [35]:
submission=test_df1.drop(columns=['text','text_clean'])
submission.reset_index(drop=True,inplace=True)
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3263 non-null   int64
 1   target  3263 non-null   int64
dtypes: int64(2)
memory usage: 51.1 KB

In [0]:
submission.to_csv('submission.csv',index=0)